.main {
  display: flex;
  justify-content: space-between;

  height: 10vh;
  background: linear-gradient(#071f13, #357edd);
  color: white;
}
.title {
  margin-left: 5%;
  width: 15rem;
}
.nav-active {
  background-color: green;
}
.header {
  // position: fixed;
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  overflow-y: hidden;
  // padding: 0px 40px;
  // height: 80px;
}

.header.active {
  // background: white;
  margin-top: -8vh;
  // width: 100vw;
  // padding-top: 5vh;
  // padding-bottom: 5vh;
}
.nav-options {
  padding-left: 40vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-gap: -5px; */
  list-style-type: none;
  li {
    width: 5rem;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.menu-icon {
  width: 45px;
  height: 45px;
}
.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 800px) {
  /*Big smartphones [426px -> 600px]*/
  .header {
    padding: 0px 10px;
    width: 100vw;
  }
  .nav-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    li {
      width: 5rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .nav-options.active {
    // margin-top: 9vw;
    height: 90vh;
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 3;
    align-content: center;
    // padding-left: 0px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
  .mobile-menu {
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
